.header {
  height: 50px;
  background-color: rgb(5, 68, 104);
}

.sidebar-icon-left {
  margin-left: 0.5rem;
  margin-top: -40px;
  color: white;
  cursor: pointer;
}

.sidebar-icon {
  margin-left: 16rem;
  margin-top: -40px;
  color: white;
  cursor: pointer;
}
